<div class="info-window">
    <header>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="glyphicon glyphicon-user"></span> {{message.userId}}
            </li>

            <li class="list-group-item">
                <span class="glyphicon glyphicon-time"></span> {{message.timePlaced}}
            </li>

            <li class="list-group-item">
                <span class="glyphicon glyphicon-globe"></span> {{country.name}}
            </li>
        </ul>
    </header>
    <footer>
        <button data-id={{message._id}} class="btn btn-small btn-success btn-block" role="button">Details</button>
    </footer>
</div>