<div>
    <p>
        <span class="glyphicon glyphicon-user"></span> 114
    </p>
    <p>
        <span class="glyphicon glyphicon-user"></span> 10/08/17 18:03
    </p>
    <p>
        <span class="glyphicon glyphicon-user"></span> Morocco
    </p>
</div>