doctype html
html.no-js
    include includes/head
    body
        div.container-fluid
            div.row
                include includes/navbar
                div.col-md-12
                    div(class="tab-content")
                        div#message-list.tab-pane.active(role="tabpanel")
                            <div class="loading center">
                                <p>Loading</p>
                            </div>
                        div#map.tab-pane(role="tabpanel")
                            h3 Map
                        div#insights.tab-pane(role="tabpanel")
                            h3 Insights

        script(src="js/lib/requirejs/require.js" data-main="js/main")