doctype html
html.no-js
    include includes/head
    body
        div.container-fluid
            div.row
                include includes/navbar
                div.col-md-12
                    div(class="tab-content")
                        div#map-container.tab-pane.active(role="tabpanel")
                            include includes/loading

                        div#message-list.tab-pane(role="tabpanel")
                            include includes/loading

                        div#insights.tab-pane(role="tabpanel")
                            h3 Insights

        script(src="js/bundle.min.js")