@import 'includes/flatly.less';

.navbar {
    .nav-pills li {
        margin-top: 10px;
    }
}

.loading {
    width: 150px;
    height: 60px;
    padding-top: 40px;
    text-align: center;
    display: inline-block;
    background-position: top;
    background-image: url('images/ajax-loader.gif');
    background-repeat: no-repeat;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.tab-pane {
    min-height: 400px;
}